@import "../../variables.scss";

.product { 
  display: flex;
  flex-direction: column;
  border: 1px solid $color-yellowy-grey;
  margin-left: -1px;
  margin-bottom: -1px;
  padding: 20px;
  justify-content: space-between;
  background-color: white;
}

.image {
  margin-bottom: 20px;
}

.price {
  margin-bottom: 0;
}
